$bg-color: #190B20;
$red: #BF495E;
$blue: #4b52c1;
$light-blue: #54AFC0;
$green: #43ff64;
$purple: #9A4DC3;

$gradient-1-150: 150deg, rgb(75, 82, 193) 0%, rgba(154,77,195,1) 25%, rgba(84,175,192,1) 50%, rgba(88,198,113,1) 75%, rgba(191,73,94,1) 100%;
$gradient-1-300: 300deg, rgba(75,82,193,1) 0%, rgba(154,77,195,1) 25%, rgba(84,175,192,1) 50%, rgba(88,198,113,1) 75%, rgba(191,73,94,1) 100%;

$gradient-2-150: 150deg, rgba(75,82,193,1) 0%, rgba(154,77,195,1) 50%, rgba(191,73,94,1) 100%;
$gradient-2-300: 300deg, rgba(75,82,193,1) 0%, rgba(154,77,195,1) 50%, rgba(191,73,94,1) 100%;

$gradient-2-150-transp: 150deg, rgba(75,82,193,0.3) 0%, rgba(154,77,195,0.3) 50%, rgba(191,73,94,0.3) 100%;

$gradient-3-150: 150deg, rgba(84,175,192,1) 0%, rgba(154,77,195,1) 100%;
$gradient-3-300: 300deg, rgba(84,175,192,1) 0%, rgba(154,77,195,1) 100%;
