@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: Montserrat-italic;
    src: url(../assets/fonts/Montserrat-italic.ttf);
}


html {
    scroll-behavior: smooth;
}

body {
    color: $red;
    font-family: Montserrat;
    background-color: $bg-color;

    font-size: 16px;
    line-height: 20px;
}

.color-blue {
    color: $blue;
}

a {
    text-decoration: none;;
}

.f-100 {font-weight: 100;}
.f-200 {font-weight: 200;}
.f-300 {font-weight: 300;}
.f-400 {font-weight: 400;}
.f-500 {font-weight: 500;}
.f-600 {font-weight: 600;}
.f-bold, b {font-weight: bold;}
.f-italic {font-family: Montserrat-italic;}

.btn {
    background: linear-gradient(150deg, rgba(75,82,193,1) 0%, rgba(154,77,195,1) 50%, rgba(191,73,94,1) 100%);
    border-radius: 50px;
    border:none;
    padding: .5rem 1.5rem;
    color: $bg-color;
    font-weight: 600;
}

/*temp*/
.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;

    .parallax__group {
        position: relative;

        display: block;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

        .parallax__layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
        }
        
        .parallax__layer--base {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            z-index: 4;
            background-position: bottom;

            background-image: url(../assets/images/layer-1.svg);
        }
        
        .parallax__layer--back {
            -webkit-transform: translateZ(-300px) scale(2);
            transform: translateZ(-300px) scale(2);
            z-index: 3;
            background-image: url(../assets/images/layer-2.svg);
        }
        
        .parallax__layer--deep {
            -webkit-transform: translateZ(-400px) scale(3);
            transform: translateZ(-400px) scale(3);
            z-index: 2;
            background-image: url(../assets/images/layer-3.svg);
            background-position: bottom;
        }

        .parallax__layer--sun {
            -webkit-transform: translateZ(-800px) scale(3);
            transform: translateZ(-800px) scale(3);
            z-index: 1;

            background-size: 600px;
            background-repeat: no-repeat;
            background-position: top right;

            background-image: url(../assets/images/layer-4.svg);
        }

        .parallax__layer--hero {
            z-index: 5;
            max-width: 1440px;
            margin: auto;
            position: relative;
            height: 100vh;

            .hero-text-wrapper {
                margin: auto;
                top: 50%;
                transform: translate(0, -50%);
                position: absolute;
                width: 66.33%;

                .hero-title {
                    font-size: 60px;
                    line-height: 65px;
                    -webkit-text-stroke-width: 5px;
                    -webkit-text-stroke-color: #fff;
                    font-weight: 800;

                    background: -webkit-linear-gradient($gradient150);
                    -webkit-background-clip: text;
                    -webkit-text-stroke: 5px transparent;
                    color: $bg-color;
                    padding: 6px;
                }
    
                .hero-subtitle {
                    font-size: 30px;
                    margin: .5rem 0 1rem 0;
                }

                .hero-divisor {
                    width: 15%;
                    height: 5px;
                    background: -webkit-linear-gradient($gradient150);
                }
    
                .hero-text {
                    margin-top: 1.5rem;
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
    }
}

.content-wrapper {
    background-color: $bg-color;

    .content {
        max-width: 1440px;
        margin:0 auto;
        padding: 7rem 0;

        .content-title {
            font-size: 45px;
            margin-bottom:2rem;
        }

        .experience-item {
            display: flex;
            flex-wrap:wrap;
            justify-content: space-between;
            padding: 5rem 0;

            .experience-item-text {
                flex: 0 0 70%;

                h3, h4 {
                    font-size: 24px;
                    line-height: 29px;
                }

                h4 {
                    margin-top: .3rem;
                }

                p, ul {
                    margin-top: 1rem;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    
                    li {
                        margin-top: 1rem;
                        margin-right: 1rem;
                    }
                }
            }

            .experience-item-image {
                flex: 0 0 20%;
                position:relative;
                a {
                    // &:after {
                    //     content: " ";
                    //     background-image: url(../assets/images/window-squares.svg);
                    //     width: 75px;
                    //     height: 20px;
                    //     background-size: cover;
                    //     background-repeat: no-repeat;
                    //     display: block;
                    //     position: absolute;
                    //     top: -15px;
                    //     right: 1rem;
                    // }

                    img {
                        transform: translate(0, -50%);
                        top: 50%;
                        position: absolute;
                        max-width: calc(100% - 2rem);
                        
                        background: -webkit-linear-gradient($gradient150);
                        padding: 3rem 1rem 1rem;
    
                        -webkit-box-shadow: 10px 10px 0px 0px rgba(93,46,118,1);
                        -moz-box-shadow: 10px 10px 0px 0px rgba(93,46,118,1);
                        box-shadow: 10px 10px 0px 0px rgba(93,46,118,1);
                    }
                }
            }
        }

        .experience-item-left {
            .experience-item-text {
                text-align: left;
            }
            .experience-item-image {
                img {
                    right: 0;
                }
            }
        }

        .experience-item-right {
            .experience-item-text {
                text-align: right;

                ul {
                    justify-content: end;
                }
            }
            .experience-item-image {
                img {
                    left: 0;
                }
            }
        }
    }
}

.footer {
    .footer-tagline {
        span {
            display:block;
            margin: 2rem 0;
        }
    }   
}