@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat.ttf);
}
@font-face {
  font-family: Montserrat-italic;
  src: url(../assets/fonts/Montserrat-italic.ttf);
}
html, #experiencia, #projetos, #skills {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #25132f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(150deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 50%, rgb(191, 73, 94) 100%);
  border-radius: 10px;
  transition: 0.3s;
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(300deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 50%, rgb(191, 73, 94) 100%);
  transition: 0.3s;
}

body {
  color: #BF495E;
  font-family: Montserrat;
  background-color: #190B20;
  font-size: 16px;
  line-height: 20px;
}

.color-light-blue {
  color: #54AFC0;
}

.color-blue {
  color: #4b52c1;
}

.color-green {
  color: #43ff64;
}

.color-red {
  color: #BF495E;
}

.color-purple {
  color: #9A4DC3;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #4b52c1;
}
a:hover {
  color: #43ff64;
}

.f-100 {
  font-weight: 100;
}

.f-200 {
  font-weight: 200;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-bold, b {
  font-weight: bold;
}

.f-italic {
  font-family: Montserrat-italic;
}

.header {
  transition: 0.5s;
}

.header.scrolled {
  transition: 0.5s;
  background: rgba(25, 11, 32, 0.8);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.header-menu {
  margin-right: 1.5rem;
}
.header-menu ul li a {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.btn, .btn-2 {
  background: linear-gradient(150deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 50%, rgb(191, 73, 94) 100%);
  border-radius: 50px;
  border: none;
  padding: 0.4rem 1.3rem;
  color: #190B20;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover, .btn-2:hover {
  background: linear-gradient(300deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 50%, rgb(191, 73, 94) 100%);
  color: #fff;
}

.btn-2 {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #9A4DC3;
  color: #BF495E;
}
.btn-2:hover {
  border: 2px solid #54AFC0;
}

.divisor {
  width: 150px;
  height: 4px;
  background: -webkit-linear-gradient(150deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 25%, rgb(84, 175, 192) 50%, rgb(88, 198, 113) 75%, rgb(191, 73, 94) 100%);
  margin: 5px 0;
}

.window-img {
  max-width: calc(100% - 1rem);
  background: -webkit-linear-gradient(150deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 25%, rgb(84, 175, 192) 50%, rgb(88, 198, 113) 75%, rgb(191, 73, 94) 100%);
  padding: 3rem 0.5rem 0.5rem;
  -webkit-box-shadow: 10px 10px 0px 0px rgb(93, 46, 118);
  -moz-box-shadow: 10px 10px 0px 0px rgb(93, 46, 118);
  box-shadow: 10px 10px 0px 0px rgb(93, 46, 118);
}
.window-img a {
  position: relative;
}
.window-img a img {
  width: 100%;
}
.window-img:after {
  content: "";
  background-image: url(../assets/images/window-squares.svg);
  width: 75px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 16px;
  right: 1rem;
  transition: 0.4s;
}
.window-img h3 {
  color: #190B20;
  font-size: 20px;
  line-height: 25px;
}

/*temp*/
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.parallax .parallax__group {
  position: relative;
  display: block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.parallax .parallax__group .parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}
.parallax .parallax__group .parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
  background-position: bottom;
  background-image: url(../assets/images/layer-1.svg);
}
.parallax .parallax__group .parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
  background-image: url(../assets/images/layer-2.svg);
}
.parallax .parallax__group .parallax__layer--deep {
  -webkit-transform: translateZ(-400px) scale(3);
  transform: translateZ(-400px) scale(3);
  z-index: 2;
  background-image: url(../assets/images/layer-3.svg);
  background-position: bottom;
}
.parallax .parallax__group .parallax__layer--sun {
  -webkit-transform: translateZ(-800px) scale(3);
  transform: translateZ(-800px) scale(3);
  z-index: 1;
  background-size: 29%;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(../assets/images/layer-4.svg);
}
.parallax .parallax__group .parallax__layer--hero {
  z-index: 5;
  max-width: 1440px;
  margin: auto;
  position: relative;
  height: 100vh;
}
.parallax .parallax__group .parallax__layer--hero .hero-text-wrapper {
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  width: 66.33%;
}
.parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-title {
  font-size: 60px;
  line-height: 65px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #fff;
  font-weight: 800;
  background: -webkit-linear-gradient(150deg, rgb(75, 82, 193) 0%, rgb(154, 77, 195) 25%, rgb(84, 175, 192) 50%, rgb(88, 198, 113) 75%, rgb(191, 73, 94) 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: #190B20;
  padding: 6px;
  letter-spacing: 4px;
}
.parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-subtitle {
  font-size: 30px;
  line-height: 35px;
}
.parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-text {
  margin-top: 1.5rem;
  font-size: 20px;
  line-height: 25px;
}
.parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-btns {
  padding-top: 2rem;
}
.parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-btns .btn-2 {
  margin-right: 1rem;
}

.header {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header .content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header .content .header-menu-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .content .header-menu-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}
.header .content .header-menu-wrapper ul li {
  margin-right: 1rem;
}

.socials a {
  margin-left: 0.3rem;
}

.content-wrapper {
  background-color: #190B20;
}
.content-wrapper .content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;
}
.content-wrapper .content .content-title {
  font-size: 45px;
  line-height: 50px;
}
.content-wrapper .content .experience-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.5rem 0;
}
.content-wrapper .content .experience-item .experience-item-text {
  flex: 0 0 70%;
}
.content-wrapper .content .experience-item .experience-item-text h3, .content-wrapper .content .experience-item .experience-item-text h4 {
  font-size: 24px;
  line-height: 29px;
}
.content-wrapper .content .experience-item .experience-item-text h4 {
  margin-top: 0.3rem;
}
.content-wrapper .content .experience-item .experience-item-text p, .content-wrapper .content .experience-item .experience-item-text ul {
  margin-top: 1rem;
}
.content-wrapper .content .experience-item .experience-item-text ul {
  display: flex;
  flex-wrap: wrap;
}
.content-wrapper .content .experience-item .experience-item-text ul li {
  margin-top: 1rem;
  margin-right: 1rem;
}
.content-wrapper .content .experience-item .experience-item-image {
  flex: 0 0 20%;
  position: relative;
  transition: 0.4s;
}
.content-wrapper .content .experience-item .experience-item-image:hover {
  flex: 0 0 22%;
}
.content-wrapper .content .experience-item .experience-item-image .window-img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.content-wrapper .content .experience-item .experience-item-image .window-img:hover:after {
  transition: 0.4s;
  width: 82.5px;
  height: 22px;
}
.content-wrapper .content .experience-item-left .experience-item-image img {
  right: 0;
}
.content-wrapper .content .experience-item-right .experience-item-image img {
  left: 0;
}

.projects-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects-list li {
  flex: 0 0 22%;
}
.projects-list .window-img {
  position: relative;
  margin-top: 1.5rem;
}
.projects-list .window-img h3 {
  color: #190B20;
  font-size: 19px;
  line-height: 24px;
  font-weight: 600;
  position: absolute;
  top: 12px;
}

.footer .footer-tagline span {
  display: block;
  margin: 2rem 0;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem 0;
}
.contact-cards .contact-card-item {
  display: block;
  text-align: center;
}
.contact-cards .contact-card-item h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  margin-top: 1rem;
}
.contact-cards .contact-card-item img {
  margin: auto;
  width: 100px;
}
.contact-cards .contact-card-item span {
  font-weight: 300;
}
.contact-cards .contact-card-item img, .contact-cards .contact-card-item span {
  display: block;
}

.section-skills ul {
  display: flex;
  flex-wrap: wrap;
}
.section-skills ul li {
  margin-top: 1rem;
  margin-right: 1rem;
}

@media (max-width: 1440px) {
  .content-wrapper .content, .header .content, .parallax .parallax__group .parallax__layer--hero, .footer {
    padding: 2rem 15px;
  }
}
@media (max-width: 1366px) {
  .projects-list li {
    flex: 0 0 30%;
  }
}
@media (max-width: 992px) {
  .projects-list li {
    flex: 0 0 47%;
  }
  body, .parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-text {
    font-size: 12px;
    line-height: 17px;
  }
  .parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-title {
    font-size: 30px;
    line-height: 35px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke: 2px transparent;
  }
  .parallax .parallax__group .parallax__layer--hero .hero-text-wrapper .hero-subtitle, .header-menu ul li a, .content-wrapper .content .experience-item .experience-item-text h3, .content-wrapper .content .experience-item .experience-item-text h4 {
    font-size: 16px;
    line-height: 21px;
  }
  .content-wrapper .content .content-title {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .contact-card-item {
    flex: 0 0 49%;
    padding: 1rem 0;
  }
  .header .content {
    padding: 1rem 15px;
  }
  .content-wrapper .content .experience-item .experience-item-text {
    flex: 0 0 60%;
  }
  .content-wrapper .content .experience-item .experience-item-image, .content-wrapper .content .experience-item .experience-item-image:hover {
    flex: 0 0 35%;
  }
  .content-wrapper .content .experience-item .experience-item-image .window-img {
    position: relative;
    top: 0%;
    transform: none;
    margin: 1.5rem 0;
  }
  .parallax .parallax__group .parallax__layer--hero .hero-text-wrapper {
    width: calc(100% - 30px);
  }
  .header-menu-wrapper {
    display: none !important;
  }
}
@media (max-width: 560px) {
  .content-wrapper .content .experience-item .experience-item-text, .content-wrapper .content .experience-item .experience-item-image, .content-wrapper .content .experience-item .experience-item-image:hover {
    flex: 0 0 100%;
  }
  .projects-list li {
    flex: 0 0 100%;
  }
  .content-wrapper .content .experience-item-right {
    flex-direction: column-reverse;
  }
}
.footer-tagline {
  text-align: center;
  margin: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
